*{
    margin: 0;
    padding: 0;

}
main{
    margin-top: 3%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

a{
    text-decoration: underline;
    color: black;
    margin-right: 5px;
}
a:hover{
    color:#666;
}

button{
    cursor: pointer;
    border: none;
    background: none;
    color: black;
    font-size: medium;
    text-decoration: underline;
  
}

button:hover{
    color: #666;
}
.table{
    border-spacing: 2px;
}

.footer{
   margin-bottom: 3%;
   font-weight: bold;
}

td{
    margin-left: 5px;
    margin-right: 5px;
    padding-bottom: 7px;
}

.index-h2{
    margin-top: 3%;
}

.new{
    margin-top: 2%;
}

.new-div{
    margin-top: 2%;
}

p{
    margin-bottom: 2%;
}

